.deck-container .h1h2 h2{

}
.deck-container .title.slide h2
{
    border:none;
    font-size: 4em;
}
.presenter{
    width: 50%;
    text-align:center;
    float:left;
}
.deck-container .slide.only-title h1,
.deck-container .slide.only-title h2,
{
    border: none;
    position:absolute;
    padding: 0 48px;
    left: 0;
    right: 0;
    top: 50%;
}

.deck-container .slide.only-title.odd h1,
.deck-container .slide.only-title.odd h2,
.deck-container .slide.only-title.odd h1 a,
.deck-container .slide.only-title.odd h2 a
{
        color: #d33682;
}
.deck-container .slide.only-title.even h1,
.deck-container .slide.only-title.even h2,
.deck-container .slide.only-title.even h1 a,
.deck-container .slide.only-title.even h2 a
{
        color: #859900;
}
.deck-container .slide.only-title.one-three h1,
.deck-container .slide.only-title.one-three h2,
{
        text-align: left;
            top: 25%;
}
.deck-container .slide.only-title.two-three h1,
.deck-container .slide.only-title.two-three h2
{
        text-align: right;
            top: 25%;
}
.deck-container .slide.only-title.three-three h1,
.deck-container .slide.only-title.three-three h2
{
        text-align: center;
            top: 25%;
}

.deck-container .slide.only-title.one-three.odd h1,
.deck-container .slide.only-title.one-three.odd h2,
{
        top: 65%;
}
.deck-container .slide.only-title.two-three.odd h1,
.deck-container .slide.only-title.two-three.odd h2
{
        top: 65%;
}
.deck-container .slide.only-title.three-three.odd h1,
.deck-container .slide.only-title.three-three.odd h2
{
        top: 65%;
}
#questions{
    padding-top: 100px;
}
#questions h1{
    display: none;
}

#joinus{
    text-align:center;
        margin-top: 40px;
            bottom: 30%;
                left:0;
                    right:0;
                        position:absolute;
}


body,
.deck-container .slide,
.deck-container
{
    background: #ffffd7;
}


body, .deck-container .slide, .deck-container {
    background: #fdf6e3;
}

#what_is_accessibility blockquote,
#jorbin_s_three_laws blockquote,
#what_is_one_thing_that_you_think_every_developer_should_know_about_accessibility_ blockquote{
    font-size: 220%;
}

em{
    position: absolute;
    bottom: 20px;
}

img{
    max-height:600px;
}

